@use "sass:meta";
@use 'mixins/drumee';
@use 'group' as *;
@use "mixins/form" as *;
@use "mixins/window" as *;
//@use 'tabs' as *;
// @use "menu" as *;

.window-customer {
  @include window-topbar;
}

.window-customer {
  &__ui {
    background-color: drumee.$core-default-background;
    width: 800px;
    height: 600px;
    box-shadow: drumee.$drumee-shadow-container;
    overflow: visible;
    min-width: 340px; //300px;
    min-height: 200px;
    flex-direction: column;
    display: flex;
    left: calc(50vw - 400px);
    top: 40px;

    &[data-device="mobile"] {
      width: 100vw;
      height: 100vh;
      left: 0;
      top: 0;
    }

    &[data-tmp="1"] {
      z-index: 9000 !important;
    }
  }

  &__main {
    width: 100%;
    height: 100%;
    align-items: center;
  }

  @include customer-header;
  @include tabs;
  @include form-placeholder;
  @include selection-menu;
  @include list-content;
  @include button-action;
  @include fiscal-bar;

  &-topbar {
    &__searchbox {
      margin-left: 10px;

      .entry-reminder__main.showerror {
        padding: 0;
        min-height: unset;
        @include drumee.typo($color: drumee.$egrey-78, $size: 14px, $line: 24px);
      }
    }

    &__title {
      text-overflow: ellipsis;
      justify-content: flex-start;
      width: calc(100% - 65px);
    }
  }

  .list-smart__container {
    min-height: 300px;

    .customer-item {
      margin-top: 10px;
    }
  }
}