@use "sass:meta";
@use 'mixins/drumee';
@use 'topbar' as *;

.form {
  @include form-topbar;
}

.form {
  &__ui {
    background-color: drumee.$core-default-background;
    border-radius: drumee.$default-border-radius;
    box-shadow: drumee.$drumee-shadow-container;
    display: flex;
    flex-direction: column;
    left: calc(50vw - 250px);
    min-width: 300px;
    overflow: visible;
    width: 500px;

    &[data-device="mobile"] {
      height: 100vh;
      left: 0;
      top: 0;
      width: 100vw;
    }

    &[data-tmp="1"] {
      z-index: 9000 !important;
    }
    &[data-state="1"] {
      z-index: 10000 !important;
    }
    &[data-state="0"] {
      .form__header {
        opacity: 0.4;
      }
    }
  }

  &__main {
    align-items: center;
    height: 100%;
    width: 100%;
  }

  &__container {
    align-items: center;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding : 0 15px;
  }


  &__header {
    background-color: drumee.$sharebox-main;
    border-bottom: none;
    border-radius: drumee.$default-border-radius-top;
    height: 44px;
    min-height: 44px;
    width: 100%;
  }

  &__title {
    @include drumee.typo($size: 16px, $line: 30px, $weight: 400, $color: drumee.$sharebox-main);
    justify-content: center;
    padding: 20px 9px 0px 10px;
  }

  &__icon {
    border-radius: drumee.$default-border-radius;
    // border: 1px $default-icon-reverse solid;
    color: drumee.$core-special-schedule-icon;
    height: 30px;
    margin-right: 5px;
    min-width: 30px;
    padding: 3px;
    width: 30px;

    &.date {
      opacity: 0.7;
    }

    &:hover {
      opacity: 1;
    }
  }



  &__footer {
    height: 100%;
    justify-content: space-evenly;
    width: 100%;
  }

  &__text {
    display: flex;
    flex: 1;
    max-height: 89px;
    overflow: auto;
    @include drumee.typo($color: drumee.$core-default-text-color, $weight: 400, $line: 30px, $size: 14px);

    &.date {
      & .note-content {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }


  & .delete-btn {
    position: absolute;
    left: 0px;
    height: 20px;
    width: 20px;
    margin: 20px;
    color: drumee.$core-default-icon-neutral;
    cursor: pointer;
    z-index: 10;
  }

  &__buttons {
    align-items: center;
    height: 60px;
    justify-content: center; //space-evenly;
    width: 100%;
    padding: 20px 0px;
  }

  & .button {
    cursor: pointer;

    &.copy-button {
      position: absolute;
      right: 0px;
      margin: 4px;
      z-index: 99;
    }

    &.text {
      align-items: center;
      border-radius: drumee.$default-border-radius;
      height: 35px;
      justify-content: center;
      max-width: 200px;
      min-width: 120px;
      padding: 0 10px;
      margin: 0 3%;
      @include drumee.typo($size: 16px, $line: 19px, $color: drumee.$btn-commit-text);
    }

    &.primary {
      background-color: drumee.$btn-commit-background;

      &:hover {
        background-color: drumee.$btn-commit-background-hover
      }
    }

    &.secondery {
      background-color: drumee.$btn-rollback-background;
      border: 2px solid drumee.$btn-rollback-border;
      color: drumee.$btn-rollback-text;

      &:hover {
        color: drumee.$btn-rollback-text-hover;
        border: drumee.$btn-rollback-border-hover 2px solid;
      }
    }

    &.icon {
      align-items: center;
      border-radius: drumee.$default-border-radius;
      color: drumee.$core-default-icon-neutral;
      height: 25px;
      margin: 0 3%;
      opacity: 0.75;
      padding: 1px;
      top: 10px;
      width: 25px;

      &:hover {
        color: drumee.$core-default-icon-hover;
      }
    }
  }

  &__acknowledge {
    /*  position: absolute;
    top: 10px;//20px;
    margin-left:30px;*/
    border-radius: 3px;
    justify-items: center;
    justify-content: center;
    @include drumee.typo($color: drumee.$core-default-text-color, $weight: 400, $line: 30px, $size: 12px);

    .drumee-svg {
      color: drumee.$core-default-icon-success;
      height: 20px;
      padding: 2px;
      width: 25px;
    }

    .text {
      padding-left: 10px;
    }
  }


  &__edit-icon {
    height: 20px;
    color: grey;
    width: 20px;
    padding: 0px 0px 0px 5px;
    display: none;
  }

  &__entry {
    width: 100%;

    & input {
      width: calc(100% - 10px);
      background: drumee.$core-default-block-background; //#f2f2f2;
      color: drumee.$core-default-text-color; //#2f2f2f;
      width: 98%;
      height: 25px;
      padding-left: 5px;
      border-radius: 2px;
      // overflow: hidden;
      // text-overflow: ellipsis;
      // white-space: nowrap; 
    }
  }

  &__entry {
    &.message {
      width: 100%;

      & textarea {
        background: drumee.$core-default-block-background;
        border-radius: drumee.$default-border-radius;
        border: none;
        outline: none;
        padding: 10px 5px 10px;
        resize: none;
        width: 99%;
        margin: 3px 0px 1px 0px;
        min-height: 77px;
        @include drumee.typo($size: 14px, $line: 22px, $color: drumee.$core-default-text-color); //$size: 16px, $line: 21px,

        &::placeholder {
          @include drumee.typo($size: 14px, $line: 14px, $weight: 300, $color: drumee.$core-default-text-placeholder);
        }
      }
    }
  }

  &__ok-btn {
    background: drumee.$btn-commit-background;
    border-radius: drumee.$default-border-radius;
    padding: 5px;
    margin-left: 5px;
    margin: 3px;
    cursor: pointer;
    width: 26px; //24px;
    height: 26px; //24px;
    justify-content: center;
    align-items: center;
    @include drumee.typo($size: 12px, $color: drumee.$white);

    &:hover {
      background-color: drumee.$btn-commit-background-hover;
    }
  }

  &__wrapper--modal.dialog__wrapper,
  &__dialog-overlay {
    position: absolute;
    height: auto;

    &[data-state="open"] {
      width: 100%;
      height: calc(100%);
      left: 0;
      right: 0;
      top: 0px;
      bottom: 0;
      justify-items: center;
      align-items: center;
      border-radius: drumee.$default-border-radius-bottom;
      background-color: drumee.$core-transparency-container-overlay; //$transparency-container-overlay;
    }
  }

}

.form {
  &__dialog-overlay {
    background-color: rgb(0 0 0 / 30%); // .3);
    height: calc(100% - 44px);
    position: absolute;
    top: 44px;
    width: 100%;
  }
}