@import 'mixins/drumee';

.window-finder {
  @import 'header';

  &__ui {
    background-color: $core-default-background;
    width: 800px;
    height: 600px;
    box-shadow: $drumee-shadow-container;
    overflow: visible;
    min-width: 340px;
    min-height: 200px;
    flex-direction: column;
    display: flex;
    left: calc(50vw - 400px);
    top: 60px;
    max-width: 100vw;
    max-height: 100vh;
    z-index : 10001 !important;
    &[data-device="mobile"] {
      width: 100vw;
      height: 100vh;
      left: 0;
      top: 0;
    }
  }

  &__main {
    width: 100%;
    height: 100%;
    align-items: center;
  }

  &__content-results {
    width: 100%;
    height: 100%;
  }
}