@use "mixins/drumee";

@mixin button_cancel {
  &__button-cancel {
    border: 1px solid drumee.$btn-rollback-border;
    width: 120px;
    height: 46px;
    border-radius: drumee.$default-border-radius;
    text-align: center;
    justify-content: center;
    padding-top: 12px;
    @include drumee.typo($line: 22px, $size: 16px, $weight: 300, $color: drumee.$btn-rollback-text);

    &:hover {
      border: 2px solid drumee.$btn-rollback-border-hover ;
      color: drumee.$btn-rollback-text-hover;
    }
  }

  &__button-confirm {
    width: 120px;
    background-color: drumee.$btn-commit-background; // $btn-primary-background; 
    height: 46px;
    border-radius: drumee.$default-border-radius;
    text-align: center;
    justify-content: center;
    padding-top: 12px;
    @include drumee.typo($line: 22px, $size: 16px, $weight: 300, $color: drumee.$btn-commit-text);
  }

  &__button {
    &.button {
      align-items: center;
      border-radius: 6px;
      cursor: pointer;
      height: 46px;
      justify-content: center;
      width: 180px;
    }

    &.action-btn {
      align-items: center;
      background: drumee.$core-background-btn-active;
      @include drumee.typo($size: 18px, $line: 28px, $color: drumee.$core-default-text-reverse);

      &:hover {
        background-color: drumee.$btn-commit-background-hover;
        border-color: drumee.$btn-commit-border-hover;
      }
    }

    &.cancel-btn {
      border: 1px solid drumee.$btn-rollback-border;
      @include drumee.typo($size: 18px, $line: 28px, $color: drumee.$btn-rollback-text);

      &:hover {
        border: 2px solid drumee.$btn-rollback-border-hover ;
        color: drumee.$btn-rollback-text-hover;
      }
    }
  }

  &__buttons-wrapper {
    align-items: center;
    height: 120px;
    justify-content: space-evenly;
    width: 100%;
  }
}