// window__main
.btn{
  cursor: pointer;
  height: 36px;
  width: 170px;
  border-radius: 4px;//2px;
  justify-content: center;
  background-color: #f7f7fa;
  border: 1px solid #f7f7fa;
  font-family: "Roboto-Regular", sans-serif;      
  letter-spacing: 0em;
  &--small{
    font-size: 12px;
    line-height: 24px;
    height: 26px;
    width: 80px;      
  }
  &--neutral{
    font-size: 16px;
    line-height: 34px;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
  }
  &--normal-text{
    color: #2F2F2F;
  }
  &--cancel-text{
    color: #E9223B;
  }
}
