@use "sass:meta";
@use 'mixins/drumee';
@use 'group' as *;
@use "mixins/form" as *;
@use "mixins/window" as *;

.window-site {
  @include window-topbar;
}

.window-site {
  &__ui {
    background-color: drumee.$core-default-background;
    width: 800px;
    height: 600px;
    box-shadow: drumee.$drumee-shadow-container;
    overflow: visible;
    min-width: 340px; //300px;
    min-height: 200px;
    flex-direction: column;
    display: flex;
    left: calc(50vw - 400px);
    top: 40px;
    cursor: pointer;

    &[data-device="mobile"] {
      width: 100vw;
      height: 100vh;
      left: 0;
      top: 0;
    }

    &[data-tmp="1"] {
      z-index: 9000 !important;
    }
  }

  &__main {
    width: 100%;
    height: 100%;
    align-items: center;
  }

  @include customer-header;
  @include site-header;
  @include tabs;
  @include form-placeholder;
  @include selection-menu;
  @include list-content;
  @include button-action;

  // &__list-content {
  //   width: 100%;
  //   align-items: center;
  //   max-height: calc(100% - 40px);
  //   flex: 1;
  //   overflow-y: auto;
  //   overflow-x: hidden;
  // }

  // &__menu-item {
  //   cursor: pointer;
  //   height: 35px;
  //   justify-content: center;
  //   min-width: 90px;
  //   margin: 0 2px;
  //   border: 0.5px solid lightgrey;

  //   &:hover {
  //     opacity: 0.8
  //   }
  // }

  // &__button-action {
  //   justify-content: flex-start;
  //   flex-wrap: wrap;
  //   align-content: center;
  //   justify-content: center;
  //   margin: 0 10px 0 auto;
  //   background-color: drumee.$blue-midnight;
  //   display: flex;
  //   flex-direction: row;
  //   border-radius: 3px;
  //   cursor: pointer;
  //   padding: 0 10px;

  //   svg {
  //     width: 25px;
  //     height: 25px;
  //     padding: 4px;
  //   }
  //   @include drumee.typo($size: 14px, $line: 25px, $weight: 400, $color: white);
  // }

  // &__buttons-main {
  //   justify-content: flex-start;
  // }

}