@import 'mixins/drumee';

&__checkbox{
  //border-radius:$default-checkbox-border-radius;
  position: absolute;
  width: 24px;
  height: 24px;
  left: 0;
  top: 0;
  visibility: hidden;
  cursor: pointer;
  text-align: center;
  background-color: transparent; 
  padding: 4px 6px 6px 4px;
  &[data-hover="on"]{
    visibility: visible;
    svg{
      border: 1.5px solid orange;
      border-radius: $default-checkbox-border-radius;
    }
  }
  &[data-selected="1"]{
    visibility: visible;
    svg{
      border-radius: $default-checkbox-border-radius;
      // visibility: visible;
      fill: orange;
      border: 1.5px solid orange;
      background-color: $core-default-background;//$white; 
    }
  }
  &--icon{
    pointer-events: none;
    background-color: $white; 
    fill: $ewhite;
  }
}
