&__container{
  width: 100%;
  height: 100%;
  &:after {
    content: " ";
    width: calc(100% - 12px);
    height: calc(100% - 25px);
    border: 1px dashed white;
    position: absolute;
    top: 19px;
    left: 6px;
    border-radius:$default-border-radius;// 2px;
    display: none;
  }
  &[data-over="over"] {
    &:after {
      display: block;
    }
    &.document, &.image, &.other, &.video {
      &:after {
        border: 1px dashed black;
      }
    }
  }
  &[data-status="locked"] {
    opacity: 0.6;
  }
  &.preload{
    background-color: grey;
  }
  .icon {
    //right: 0;
    width: 37px;
    height: 30px;
    //margin: 0 auto;
    //position: absolute;
    //top : 16px;
    width: 37px;
    margin: 16px auto auto auto;
    //z-index: 1;
    fill: #879BFF;
    //left: 0;
    &.video{
      /*fill: transparent;
      stroke: #879BFF;*/
      fill:hsla(0,0%,98%,.8);
      stroke:transparent;
      // width: 30px;
      // height: 30px;
      // padding: 5px;
    /*  background:rgba(206, 206, 206, 0.6) ;
      border-radius: $border-radius-small;*/
    }
    &.document{
      fill:$ewhite;
    }
    &.schedule{
      fill: $core-special-schedule-icon;
      stroke-width: 4px;
      width: 33px;
      height: 30px;
      padding: 1px;
    }
    &.dmz{
      top: calc(50% - 15px); 
    }
    &.extension{
      fill:white;
    }
  }
  

  &[data-hover="on"] {
    border-radius: $default-border-radius;
    box-shadow: $drumee-shadow-container;
    z-index : 100;

    .thumbnail-form__input {
      height: 20px;
      bottom: 0;
      input {
        line-height: 20px;
        min-height: 20px;
      }
    }
    .filename{
      &.document{
        background :$core-default-block-background;
      }
    }
  }

  &[data-icontype="vector"]{
    .preview{
      display: none;
    }
  }

  &[data-icontype="vignette"]{
    &:before, &:after{
      display: none;
    }
    // svg.icon{
    //   display: none;
    // }
  }

  & .drumee-loading-wrapper {
    left: 55%;
    top: 90%;
  }

 
}

