@import 'mixins/drumee';

&-expiry-status {
  &__icon {
    &.expiry-status {
      color:$eorange;
      // cursor: help;
      height: 18px;
      width: 18px;
      position: absolute;
      right: 26px;
      top: 20px;

      & svg {
        border: 0.8px solid$eorange;
        border-radius: 50%;
      }
    }
  }
}







