
&-forbiden{
  &__container{
    /*width: 100%;
    height: 100%;*/
    &[data-drag="ok"]{
      display: none;
    }
    width: 180px;
    height:auto;
    display: flex;
    flex-direction: column;
    position: absolute;
    // left: -20px;
    //left: 0;
    //top:0;// -20px;
    justify-content: center;
    border: 1px solid $eorange-sunset;
    border-radius: $default-border-radius-small;//4px;
    background-color: $core-default-background; 
    box-shadow: $drumee-shadow-container;//0 5px 8px 1px rgba(63,79,117,0.13), 0 6px 16px 0 rgba(86,65,113,0.08), 0 2px 14px 0 rgba(194,185,203,0);
    Z-index:200;
  }
  &__text{
    width: 100%;
    padding: 5px;
    @include typo($line:13px,$size:12px,$weight:400,$color:$eorange-sunset);
    text-align: center;
  }
  &__icon{
    width: 17px;
    height: 17px;
    padding: 2px;
    border: 1px solid $eorange-sunset;
    background-color: $eorange-sunset;
    //box-shadow: 0 5px 8px 1px rgba(63,79,117,0.13), 0 6px 16px 0 rgba(86,65,113,0.08), 0 2px 14px 0 rgba(194,185,203,0);
    color:$core-default-icon-reverse;//white;
    fill:$core-default-icon-reverse;//white;
    //margin: 2px auto;
    border-radius:50px;
    position:absolute;
    top:-6px;
    left:-6px;
  }
}

&__files-count{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  overflow: hidden;
  position: absolute;
  left: calc(50% - 15px);
  top: calc(50% - 15px);
  text-align: center;
  @include typo($line:30px,$size:15px,$weight:400,$color:$core-default-text-reverse);
  z-index: 20;
}
