/** ================================================================== *
#   Copyright Xialia.com  2011-2019
#   FILE : desk/skin/thumbnail/grid
#   TYPE : Backoffice Main Style
# ===================================================================**/
@import 'mixins/drumee';
@import "../../skin/sync-menu.scss";

.thumbnail-perdrix-grid, .thumbnail-grid{
  @import "access.scss";
  @import "checkbox.scss";
  @import "container.scss";
  @import "expiry-status.scss";
  @import "filename.scss";
  @import "helper.scss";
  @import "protected.scss";
  @import "forbiden.scss";
}

.thumbnail-perdrix-grid, .thumbnail-grid{
  &__ui{
    position: relative;
    width: 100%; //90px; 
    height: 100%; //75px;
    min-width: 90px; //92px;
    min-height: 75px;//81px;
    border-radius:$default-border-radius;
    background-color: $core-default-background;
    box-shadow: 0 5px 8px 1px rgba(63,79,117,0.13), 0 0px 3px 0 rgba(86,65,113,0.08), 0 2px 8px 0 rgba(194,185,203,0);
    cursor: pointer;
    user-select: none;
    z-index: 100;
    margin: 1px;
    &.drumee-spinner{
      //position: absolute;
      box-shadow: none;
      width: 75px; //92px;
      height: 75px;//81px;  
      padding: 10px;
      .inner-spinner{
        position: absolute;
      }
    }
    .thumbnail-form__input{
      position: absolute;
      width: 100%;
      height: 20px;
      bottom: 0;
      background-color: $core-default-background;
      z-index: 200;
    }
    &[data-device="mobile"]{
      width: 100%;
    }
  }
  &__content{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-color:inherit;
  }
  &[data-hover="on"] {
    box-shadow: 0 5px 8px 1px rgba(63,79,117,0.13), 0 6px 16px 0 rgba(86,65,113,0.08), 0 2px 14px 0 rgba(194,185,203,0);
    .thumbnail__container[data-icontype] {
      z-index : 100; // Needed to make inner element receive event first
      .thumbnail-form__input {
        height: 20px;
        bottom: 0;
        input {
          line-height: 20px;
          min-height: 20px;
        }
      }
    }
  }

  &[data-over="copying"] {
    .copy-block {
      display: flex;
      right: -43px;
      &__icon {
        fill: #18AC72;
        border: 1px solid #18AC72;
      }
      &__text {
        @include typo($line:21px,$size:10px,$weight:300,$color:$core-secondary-text-color); 
      }
    }
  }
  &[data-state="opened"] {
    opacity: 0.6;
    .thumbnail-information-wrapper {
      visibility: visible;
      fill: #879BFF;
    }
  }
  .preview {
    border-radius: $default-border-radius;
    &.image-capable{
      background-size     : cover;
      background-repeat   : no-repeat;
      background-position : center;
      opacity: 0.8;
      flex-wrap: wrap; 
      display: flex;
      flex-direction: column;
      align-items: center;
      align-content: center;
      justify-content: center;
    }
  }
  
  &[data-phase="copy"]{
    opacity: 0.9;
  }
  &[data-phase="cut"]{
    opacity: 0.7;
  }
  &[data-phase="share"]{
    opacity: 0.5;
  }
  &[data-sharing="on"], &[data-hover="on"] {
    .thumbnail__share-container {
      visibility: visible;
      z-index: 100;
    }
  }
  &[data-hover="on"], &[data-selected="1"]{
    .__checkbox, .__deletion {
      visibility: visible;
      z-index: 100;
    }
  }
  
  &[data-selected="1"] {
    box-shadow: 0 5px 8px 1px rgba(63,79,117,0.13), 0 6px 16px 0 rgba(86,65,113,0.08), 0 2px 14px 0 rgba(194,185,203,0);
    // position: relative;
    // width: 90.5px;
    // height: 75.5px;
    //margin: 2px 13px;
    //top: 4px;
    // .__checkbox {
    //   z-index: 101;
    //   .thumbnail-checkbox {
    //     fill: #FA8540;
    //   }
    // }
    &:after {
      content: " ";
      position: absolute;
      top: -1px;//0;
      left: -1px;// 0;
      width: calc(100% + 2px);
      height: calc(100% + 2px);
      border: 1.5px solid #FA8540; //3px
      border-radius:$default-border-radius;
      //z-index: 103; 
      pointer-events: none;
    }
  }
  .content-preview{
    height: 100%;
    width: 100%;
    overflow: hidden;
    word-break: break-word;
  }
  &[status="rename"]:hover {
    .thumbnail__container {
      .filename {
        display: none;
      }
    }
  }
  // .__checkbox {
  //   width: 24px;
  //   height: 24px;
  //   position: absolute;
  //   left: 0px;
  //   top: 0px;
  //   visibility: hidden;
  //   cursor: pointer;
  //   padding: 4px 6px 6px 4px;
  //   text-align: center;
  //   .thumbnail-checkbox {
  //     border-radius: 2px;
  //     padding: 1px;
  //     border: 1px solid #FA8540;
  //     background: $ewhite;
  //     fill: $ewhite;
  //     // visibility: hidden;
  //   }
  // }
  // .avatar{
  //   position: absolute;
  //   width: 40px;
  //   height: 40px;
  //   background: white;
  //   top: calc(50% - 20px);
  //   left: calc(50% - 20px);
  //   border-radius: 20px;   
  //   background-size: cover;
  // }
  &__input {
    @include typo($line:14px,$size:11px,$color:$core-default-text-color);
    width: 100%;
    position: absolute;
    z-index: 102; //UU was 200, let's try lower
    bottom: 0;
    textarea{
      cursor:pointer;
      min-height: 27px;//21px;
      width:100%;
      height: auto;
      padding: 2px 6px;//3px 6px;
      border-radius: $default-border-radius-bottom; 
      border:1px solid $core-default-entry-border-bottom;
      overflow: hidden;
      resize: none;
      background-color: $core-default-background;  
      @include typo($line:12px,$size:11px,$color:$core-default-text-color); //$line:14px,
      // &[data-row="2"]{
      //   min-height: 31px;
      //   height: 31px;
      //   padding: 1px 6px;
      // }
      &::placeholder{
        @include typo($size: 11px, $line: 12px, $weight:300, $color:$core-default-text-placeholder);
      }
    }
    .input-details {
      background:  $core-default-background;  
      color: #FF4578;
      position: absolute;
      bottom: auto;
      top: 112%;
      padding: 3px;
    }
  }
  .check-box {
    position: absolute;
    width: 18px;
    height: 18px;
    border-radius:$default-border-radius-tiny;// 3px;
    z-index: 100;
    fill: #FA8540;
  }
  // .thumbnail-ui-message{
  //   top : 0;
  //   left: 0;
  //   padding : 10px;
  //   width: 100%;
  //   height: 100%;
  //   position: absolute;
  //   z-index: 2000;
  //   background-color: #18A3AC;
  // }
}
