
&.special-folder{
  &--personal,&--p2p{
    background-color: $core-default-background;   
    border-radius:4px;
    border: 1px solid #AB47BC;
    position:inside;
    box-shadow: 0 4px 7px 1px rgba(63,79,117,0.13), 0 5px 14px 0 rgba(86,65,113,0.08), 0 2px 12px 0 rgba(194,185,203,0);
    overflow:hidden;
    &:before{
      content: " ";
      //background-color: #DDE2E8;
      position: absolute;
      top: 0;
      right: 0;
      border-top: 13px solid #DDE2E8;;
      border-left: 13px solid transparent;
      border-right: 13px solid #DDE2E8;;
      border-radius: 0 4px 0 0;
      width: 62px;
    }
    &[data-hover="on"]{
    // &:hover{
      border:0.5px solid #4A90E2;
      position:outside;
      border-radius:$default-border-radius-small;
      .filename{
        background-color: transparent!important;
      }
    }
    .filename{
      @include typo($line:12px,$size:11px,$weight:300,$color:$core-default-text-color);
      margin:2px auto;
    }
    .avatar{
      width:37px;
      height:37px;
      top: calc(50% - 24px);
    }
  }
}

