@use "sass:meta";
@use "mixins/drumee";
@use "warning";
@use "group/header/main" as *;
@use "group/header/breadcrumbs" as *;
@use "group/body/filter" as *;
@use "group/body/main" as *;
@use "group/body/contextmenu" as *;
@use "group/popup" as *;
@use "group/row" as *;
@use "group/buttons" as *;

.window {

  /*--- Common styles for all groups of windows ---*/
  &__ui {
    position: absolute;
    background: transparent;
    width: 340px;
    height: 350px;
    min-width: 340px;
    min-height: 300px;
    z-index: 1000;
    border-radius: drumee.$default-border-radius;
    box-shadow: drumee.$drumee-shadow-main;
    overflow: visible;

    &[data-state="1"] {
      z-index: 10000 !important;
    }

    // &[data-state="0"] {
    //   .window__header {
    //     opacity: 0.4;
    //   }
    // }

    &[data-minimize="1"] {
      display: none;
    }

    &[data-dialog="open"] {
      .window__wrapper--modal.dialog__wrapper {
        pointer-events: none;
        // opacity: 0.4;
      }
    }
  }

  &__content-row {
    width: 100%;
    height: calc(100% - 48px);
  }

  &__wrapper-modal {
    top: 0;
    left: 0;
    position: fixed;
    align-items: center;
    justify-content: center;
    justify-items: center;

    &[data-state="open"] {
      width: 100%;
      height: 100%;
      background: drumee.$core-transparency-container-overlay; //rgba(0,0,0, .3);
      right: 0;
      bottom: 0;
    }

    .drumee-spinner {
      width: 150px;
      height: 150px;
      background: drumee.$core-default-background; // white;
      top: calc(50% - 75px);
      left: calc(50% - 75px);
      border-radius: drumee.$default-border-radius; //4px;
      padding: 20px;

      .root-node {
        position: absolute;
      }
    }
  }

  &__wrapper-tooltips {
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    position: fixed;
  }

  &__wrapper--modal.dialog__wrapper,
  &__dialog-overlay,
  &__overlay {
    position: absolute;
    height: auto;



    &[data-state="open"] {
      width: 100%;
      height: calc(100% - 42px);
      left: 0;
      right: 0;
      top: 44px;
      bottom: 0;
      justify-items: center;
      align-items: center;
      justify-content: center;
      align-content: center;
      flex-wrap: nowrap;
      background-color: rgba(0, 0, 0, 0.4);
      opacity: 1 !important;
      pointer-events: auto !important;
    }
  }

  &__acknowledge {
    background-color: drumee.$ewhite;
  }

  .window-confirm {
    &__main {
      min-width: 300px;
      min-height: 200px;
      height: 200px;
      width: 100%;
      max-width: 500px;
      background: drumee.$core-default-background;
      height: 200px;
      justify-content: center;
      border-radius: drumee.$default-border-radius;
      padding: 10px;

    }

    &__buttons {
      align-content: center;
      height: 110px;
      justify-content: center; //pace-evenly;
      padding-top: 25px;
      width: 100%;

      .button {
        align-content: center;
        align-items: center;
        border-radius: drumee.$default-border-radius;
        cursor: pointer;
        height: 35px;
        justify-content: center;
        text-align: center;
        width: 115px;
        margin: 0 3%;
      }

      &.intro-popup .button {
        height: 56px;
        width: 200px;
      }
    }

    &__button-secondary {
      border: 1px solid drumee.$btn-rollback-border;
      @include drumee.typo($size: 16px, $line: 18px, $color: drumee.$btn-rollback-text );

      &:hover {
        border: 2px solid drumee.$btn-rollback-border-hover;
        color: drumee.$btn-rollback-text-hover;
      }

      &.forbiden {
        height: 32px; //35px;
        margin-left: 0;
        width: 90px;
      }

    }

    &__button-primary {
      background-color: drumee.$btn-commit-background;
      border: 0px;
      @include drumee.typo($size: 16px, $line: 18px, $color: drumee.$btn-commit-text);

      &:hover {
        background-color: drumee.$btn-commit-background-hover;
      }

      &.large {
        min-width: 115px;
        padding: 0 10px;
        width: auto;
      }
    }

    &__button-danger {
      background-color: drumee.$btn-caution-background;
      border: 0px;
      @include drumee.typo($size: 16px, $line: 18px, $color: drumee.$btn-caution-text);

      &:hover {
        background-color: drumee.$btn-caution-background-hover ;
      }
    }

    &__message {
      justify-content: center;
      padding: 31px 10px 5px;
      margin: 0 auto;
      text-align: center;
      @include drumee.typo($size: 14px, $line: 18px, $color: drumee.$btn-rollback-text );
    }

  }

  @include header_main;
  @include header_breadcrumbs;
  @include header_breadcrumbs;
  @include body_filter;
  @include body_main;
  @include body_contextmenu;
  @include group_row;
  @include button_cancel;
  @include meta.load-css("group/popup.scss");
}