/************************************************************
                        Drumee: colors used
************************************************************/


/**background-color**/
$core-background-blue                  : #4a90e2; //$ewhite
$core-default-background               : #ffffff; //$ewhite
$core-default-background-hover         : #879BFF; //$eviolet 
$core-default-block-background         : #f2f2f2; //$white-f2
$core-default-background-error         : #ea4d44; // $eorange-sunset
$core-default-background-inactive      : #89929e; //small inactive element
$core-background-tooltips              : #e8e8e8;
$core-default-background-alert         : #fd635b;//$orange-sunsetorange 
$core-button-background-active         : rgb(137 146 158 / 35%);//0.35); 
$core-background-chatmessenger         : #f9f9f9;
$core-multimedia-background            : #262626;
$core-dock-notification                : #1D8AEA;//=$folder-main;
$core-background-invitation-success    : #18A3AC; //$egreen
$core-background-btn-active            : #18A3AC;
$core-default-transparent-black        : rgb(0 0 0 / 33%);// .33);
$core-transparency-container-overlay   : rgb(137 146 158 / 40%);//inactive window or container 0.4)

/**text-color**/
$core-default-text-color              : #2F2F2F; //$egrey-2f
$core-tertiary-text-color             : #89929e;//$egrey-89
$core-secondary-text-color            :	#4a90e2;//$eblue
$core-backgroundless-text-hover       : #879bff;//$eviolet 
$core-default-text-hover              : #ffffff;//$ewhite
$core-default-text-reverse            : #ffffff;//$ewhite
$core-default-text-title              : #4a90e2; //$eblue
$core-default-text-placeholder        : #D0D0D0; //+300
$core-focus-text-placeholder          : #4a90e2;// + 300 $eblue
$core-default-text-error              : #ea4d44;// $eorange-sunset
$core-default-text-caution            : #ea4d44;// $eorange-sunset
$core-default-text-alert              : #fd635b;//$orange-sunsetorange;
$core-default-text-inactive           : #89929e; //+ 300 $egrey-89
$core-default-text-success            : #18A3AC; //$egreen
$core-security-text-color             : #fd635b;//$orange-sunsetorange //=$core-default-text-alert
$core-default-text-tooltips	          : #2F2F2F; //$egrey-2f 
$core-default-text-notification       : #ffffff;//$ewhite
$core-neutral-text-notification       : #626262;

/**icon**/
$core-default-user-icon                   : #B6BFCA; // $egrey-b6 (avatar)
$core-background-user-icon                : hsla(0,0%,78.4%,.5);
$core-transparent-background-desktop-icon : hsla(0,0%,78.4%,.5);
$core-default-icon-neutral	              : #89929e;//	$egrey-89 +/- opacity : 0.75
$core-special-icon-setting                : rgb(252 252 252 / 70%);// 0.7);//edit-cog window header icon
$core-default-icon-reverse                : #ffffff; //$ewhite
$core-default-icon-hover                  : #879bff; //$eviolet 
$core-default-icon-active                 : #879bff; //$eviolet 
$core-default-icon-success                : #18A3AC; //$egreen
$core-default-thinline-icon               : #B6BFCA;//$egrey-b6 (close icon)
$core-default-thinline-icon-hover         : #7891ff; //(close icon)
$core-special-tag-note-chat               : #1187f6;
$core-default-icon-menu-dropdown          : #879bff;//$eviolet 
$core-special-icon-info                   : #fa8540; //$orange
$core-contact-online-color                : #32d89a;
$core-special-icon-emoji                  : #fa8540; //$orange
$core-special-schedule-icon               : #EF6500;//$orange-carrot old : #fa8540;
$core-button-accept                       : #18AC72;

/** border **/
$core-default-entry-border-bottom     : #dde2e8; //$egrey-e8
$core-default-border-error            : #ff7479;//$eorange-dark
$core-default-separator               : rgb(182 191 202 / 30%);// 0.3);// old : #ECEDEE;
$core-focus-border-placeholder        : #4a90e2; //$eblue
$core-default-border-success          : #18A3AC; //$egreen
$core-default-window-header-search    : hsla(0,0%,100%,.33);
$core-default-frame                   : #b6bfca;
$core-border-no-discussion            : #dde2e8; //$egrey-e8 (no-discussion-icon)
$core-default-border-alert            : #fd635b; //$orange-sunsetorange;
$core-default-border-notification     : rgb(137 146 158 / 70%);// 0.7); //old:#dde2e8
$core-default-border-caution          : #EA4D44; //$eorange-sunset
$core-default-border-popup     	      : #dde2e8;//$egrey-e8



/** button **/
$btn-rollback-text               : #89929e; //$egrey-89
$btn-rollback-background         : #ffffff;//$ewhite; 
$btn-rollback-border             : #DDE2E8; //$egrey-e8
$btn-rollback-border-hover       : #879BFF; //$eviolet 
$btn-rollback-text-hover         : #879BFF; //$eviolet 

$btn-caution-text                : #FFFFFF; //$ewhite
$btn-caution-backgroundless-text : #FF7479;//$eorange-dark 
$btn-caution-background          : #FF7479;//$eorange-dark 
$btn-caution-border              : #FF7479;//$eorange-dark 
$btn-caution-border-hover        : #ea4d44;// $eorange-sunset  #d12c54;
$btn-caution-text-hover          : #ea4d44;// $eorange-sunset #d12c54;
$btn-caution-background-hover    : #ea4d44; //$eorange-sunset 

$btn-commit-text                 : #FFFFFF; //$ewhite
$btn-commit-backgroundless-text  : #18A3AC;  //$egreen ;
$btn-commit-background           : #18A3AC;  //$egreen ;
$btn-commit-border               : #18A3AC; //$egreen
$btn-commit-border-hover         : #16959e; //$egreen-dark
$btn-commit-text-hover           : #16959e; //$egreen-dark
$btn-commit-background-hover     : #16959e; //$egreen-dark


/** toggle**/
$core-toggle-switch-on                : #879BFF;
$core-toggle-switch-off               : rgb(137 146 158 / 50%);// 0.5);// #D2d9DB; (text-color)
$core-toggle-switch-radio             : #4040FF; //=rgba(64, 64, 255, 1); 
$core-toggle-background               : rgb(137 146 158 / 35%);// 0.35);//#D2d9DB;

/** checkbox **/
$core-default-checkbox-border         : #879bff; //	$eviolet 
$core-default-checkbox-checked        : rgb(64 64 255 / 70%);// 0.7); //old:#6a85ff;
$core-default-checkbox-background     : #ffffff; //$ewhite
$core-checkbox-checked-reverse        : #ffffff; //$ewhite
$core-checkbox-checked-border-reverse : #ffffff; //$ewhite


$core-default-radio-active            : rgb(64 64 255 / 70%);// 0.7); //old:#879bff;

$default-text-color                   : $core-default-text-color;

$state-1-typo                         :#18A3AC;

/**media quries**/
$md: 990px;
$tablet:990px;
$sd:750px;
$medium:750px;
$small:649px;
$x-small: 361px;
/*$height:750px;
$sh:300px;
/**media quries**/

/** Media height  **/
$hsmall:600px;
/** Media height  **/
