.window-confirm{
  &__main{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;    
    //background-color: $default-block-background;
  }

  &__acknowledge{
    align-items: center;
    justify-content: center;
    height: 100px;
    .drumee-svg__ui{
      width: 30px;
      height: 30px;    
      color: $core-default-icon-success;
    }
    .drumee-text__ui{
      margin-top: 10px;
      padding: 0 30px;
    //  margin-bottom: 40px;
      @include typo( $size: 16px, $line: 34px,$weight:400, $color: $core-default-text-color );
    }
  }
  &__buttons{
    width: 100%;
  }
  &__button-meeting{
    padding: 0 10px;
    margin-top: 30px;
    width: auto;
    min-width: 175px;
    @include typo( $size: 16px, $line: 34px, $color:$btn-rollback-text);//$core-default-text-color );
    border: 1px solid $btn-rollback-border ; //$ab-input-border-grey;
    &:hover{
      border:2px solid $btn-rollback-border-hover;
      color: $btn-rollback-text-hover;    
    }
    &.btn-later{
      margin-left: 15%;
      margin-right: 2%;
    }
    &.btn-now{
      margin-left: 2%;
      margin-right: 15%;
    }
  }
}
