@use "mixins/window" as *;
@use 'mixins/drumee';

.bill-item {
  // &__ui {
  //   box-shadow: drumee.$drumee-shadow-box;
  // }
  @include cartridge-sales;
  @include widget-ui;

  &__summary {
    width: 100%;

    &.billing {
      width: 100%;
      justify-content: flex-start;

      .amount {
        width: 100px;
      }
    }
  }

}