@use "../drumee";

@mixin cartridge-sales {
  background-color: inherit;
  width: 100%;

  &:hover {
    background-color: drumee.$perdrix-hover;
  }

  @include drumee.typo($color: drumee.$egrey-78, $size: 12px, $line: 20px);


  &__main {
    background-color: inherit;
    width: 100%;
    grid-template-columns: 1fr;
    padding: 5px;
  }

  &__cartridge-main {
    width: 100%;
    grid-template-columns: 1fr 1fr;
  }

  &__summary {
    width: 100%;
  }

  &__container {
    width: 100%;
    padding: 5px 10px;
    background-color: inherit;
    justify-content: start;
    align-items: start;
    border-bottom: 1px solid lightgrey;
  }

  &__summary.header {
    grid-template-columns: 70px 1fr 20px 20px;
    grid-gap: 0.5rem;
    width: 100%;
    justify-content: end;
    overflow: visible;
    z-index: 100;

    .icon {
      cursor: pointer;
      width: 20px;
      height: 20px;
      padding: 2px;
      color: drumee.$core-button-accept;

      &[data-admin="0"] {
        opacity: 0.5;
        cursor: not-allowed;
      }

      .tooltips {
        position: absolute;
        left: -50px;
        white-space: nowrap;
        top: 20px;
        padding: 3px 5px;
        border-radius: 3px;
        box-shadow: drumee.$drumee-shadow-box;
        padding: 3px 10px;
        background-color: white;
        @include drumee.typo($color: drumee.$core-default-text-tooltips, $size: 12px, $line: 24px);
      }
    }

  }

  &__details {
    justify-content: center;
  }

  &__description {
    width: 100%;
  }

  &__text {
    align-content: flex-end;
    flex-wrap: wrap;

  }

  &__cartridge {
    width: 100%;

    &-main {
      width: 100%;
    }

    &-header {
      width: 100%;

      .label {
        width: 100%;
        @include drumee.typo($color: drumee.$egrey-78, $size: 12px, $line: 20px);
      }
    }

    &-row {
      width: 100%;
      grid-template-columns: 150px 1fr;
      @include drumee.typo($color: drumee.$egrey-78, $size: 12px, $line: 20px);

      .value {
        flex-direction: row;
        justify-content: flex-end;
      }
    }
  }
}