@use "mixins/drumee";

@mixin customer-header {
  &__customer-header {
    width: 100%;
    padding: 5px 5px 8px 5px;
    .customer-text {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: flex-end;
      align-content: flex-end;
      white-space: nowrap;
    }

    .customer-custname {
      @include drumee.typo($size: 25px, $line: 1, $weight: 400, $color: drumee.$blue-midnight);

      &::after {
        content: ">";
        margin: 0 0.5rem;
      }
    }

    .customer-city {
      @include drumee.typo($size: 20px, $line: 1, $weight: 400, $color: drumee.$blue-midnight);

      &::after {
        content: ",";
        margin-right: 0.5rem;
      }
    }

    .customer-adress {
      @include drumee.typo($size: 15px, $line: 1, $weight: 400, $color: drumee.$blue-midnight);
      margin-bottom: 2px;
    }
  }

}