@use "../drumee";

@mixin entry-label {
  &__entry-label {
    &__main {
      border-bottom: none;
      border-radius: drumee.$default-border-radius-top;
      height: 100%;
      min-height: 80px;
      width: 100%;
      margin-top: 5px;
    }

    &__title {
      height: 35px;
      display: flex;
      flex-direction: row;
      @include drumee.typo($color: drumee.$core-default-text-color, $weight: 400, $line: 30px, $size: 14px);
      justify-content: flex-start;
      width: 100%;

      .note-content {
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 100%;
        flex-wrap: wrap;
        align-content: center;
      }

      svg {
        border-radius: drumee.$default-border-radius;
        border: 1px drumee.$core-default-icon-reverse solid;
        cursor: pointer;
        height: 100%;
        padding: 4px;
        width: 25px;
        color: drumee.$core-background-blue;

        &:hover {
          color: drumee.$core-default-icon-hover;
          opacity: 1;
        }
      }
    }

    &__textarea {
      height: 100%;
      width: 100%;
      margin-top: 10px;

      &[data-error="1"] {
        textarea {
          border: solid 1px red;
        }
      }

      textarea {
        height: 100%;
        width: 100%;
        min-width: 100%;
      }
    }

    &__icon {
      border-radius: drumee.$default-border-radius;
      border: 1px drumee.$core-default-icon-reverse solid;
      color: drumee.$core-default-icon-reverse;
      cursor: pointer;
      height: 25px;
      margin: auto 0 auto 15px;
      padding: 5px;
      width: 25px;


      &:hover {
        color: drumee.$core-default-icon-hover;
        opacity: 1;
      }
    }

  }
}