@use "../drumee";

@mixin widget-ui {
  &__ui {
    width: 100%;
    background-color: white;

    &:hover {
      background-color: drumee.$perdrix-hover;
    }

    box-shadow: 0 2px 6px 1px rgba(75, 72, 72, 0.3);
    padding: 5px 10px;
    cursor: pointer;

  }
}