@import "mixins/drumee";

&-breadcrumbs {
  &__main {
    width: 80px;
    height: 100%;
    position: absolute;
    .menu-topic-trigger {
      margin: 12px 0;
    }
    .menu-topic-items {
      &__wrapper {
        //padding-top: 6px;
        margin-top: -6px;
        padding: 6px;
      }
    }
  }
  &__container {
    height: 44px;
    left: 0;
    position: absolute;
    top: 0;
    width: 30px;

    &[data-state="1"] {
      pointer-events: auto;
      opacity: 1;
    }
    &[data-state="open"] {
      position: relative;
    }
    &[data-state="closed"] {
      display: none;
    }
  }
  &__wrapper {
    padding: 0 14px;
    align-items: center;
  }
  &__icon {
    color: $core-default-icon-reverse;
    cursor: pointer;
    &[data-state="0"] {
      display: none;
    }
  }
  &__arrow {
    transform: rotate(180deg);
    padding: 4px !important;
  }

  &__item {
    cursor: pointer;
    height: 30px;
    margin: 4px 0;
    max-width: 150px;
    padding: 0 14px;
    white-space: nowrap;
    width: 100%;

    &--icon {
      height: 24px;
      width: 24px;

    }

    &--filename {
      @include overflow-text;
      @include typo($size: 14px, $line: 22px, $weight: 300, $color: $core-default-text-color); 
      align-content: center;
      align-items: center;  
      margin-left: 8px;
      top: -2px;
      width: calc(100% - 30px);
    }

    .inner {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    &:hover,
    &:last-child {
      & .filename {
        color: $core-default-text-title;
      }
    }
  }
  &__roll {
    overflow: visible;
    z-index: 1000;
    min-width: 110px;
    max-width: 200px;
    width: auto;
    height: auto;
    max-height: 250px;
    background: $core-default-background;
    border-radius: $default-border-radius;
    box-shadow: $drumee-shadow-box; // 0 6px 10px 1px rgba(63,79,117,0.13), 0 7px 20px 0 rgba(86,65,113,0.08), 0 3px 17px 0 rgba(194,185,203,0);
    padding: 10px 0;
    &:before {
      content: "";
      position: absolute;
      top: -4px;
      left: 16px;
      width: 8px;
      height: 8px;
      background-color: $core-default-background;
      transform: rotate(45deg);
      box-shadow: $drumee-container-before; // 0 -2px 8px 1px rgba(63, 79, 117, 0.13), 0 5px 12px 0 rgba(86, 65, 113, 0.08), 0 -2px 4px 0 rgba(194, 185, 203, 0);
    }
    &:after {
      content: "";
      position: absolute;
      width: 100%;
      height: 10px;
      top: 0;
      left: 0;
      background: $core-default-background;
      border-radius: $default-border-radius-top;
    }
  }
}

