@use "sass:meta";
@use 'mixins/drumee';
@use 'content' as *;
@use 'mixins/form' as *;
@use 'mixins/window' as *;
.form-customer {
  &__ui {
    height: auto;
    max-height: 95vh;
    left: calc(50vw - 300px);
    min-width: 300px;
    width: 600px;
  }

  &-topbar {
    @include form-topbar;
  }

  &__container {
    min-height: 200px;
    justify-content: start;
    margin-top: 12px;

    &.description {
      min-height: auto;
    }
  }

  &__header {
    background-color: drumee.$sharebox-main;
  }

  &__title {
    justify-content: center;
    padding: 20px 9px 0px 10px;
    @include drumee.typo($size: 16px, $line: 30px, $weight: 400, $color: drumee.$sharebox-main);
  }

  @include form-content;
  @include form-menu;

  &__buttons {
    align-items: center;
    height: 60px;
    justify-content: center;
    width: 100%;
    padding: 20px 0px;
  }

  @include dialog-acknowledge;
  @include dialog-overlay;
}
