$roboto-light : 'Roboto-Light',
sans-serif;
$roboto-lightitalic : 'Roboto-LightItalic',
sans-serif;
$roboto : 'Roboto-Regular',
sans-serif;
$roboto-italic : 'Roboto-Italic',
sans-serif;
$roboto-medium : 'Roboto-Medium',
sans-serif;
$roboto-mediumitalic : 'Roboto-MediumItalic',
sans-serif;
$roboto-bold : 'Roboto-Bold',
sans-serif;
$roboto-bolditalic : 'Roboto-BoldItalic',
sans-serif;

$main-typo-light : $roboto-light;
$main-typo : $roboto;
$main-typo-medium : $roboto-medium;
$main-typo-bold : $roboto-bold;
$main-typo-lightitalic : $roboto-lightitalic;
$main-typoitalic : $roboto-italic;
$main-typo-mediumitalic : $roboto-mediumitalic;
$main-typo-bolditalic : $roboto-bolditalic;

@mixin my-typo ($line: 1, $size: 12px, $letter: 0em) {
  font-size: $size;
  letter-spacing: $letter;
  line-height: $line;
}



/**all others should be deprecated except this one**/
@mixin typo($color: inherit, $weight: 400, $line: 1, $size: 12px, $letter: 0em) {
  & {
    @include my-typo($line, $size, $letter);

    @if $weight ==400 {
      font-family: $main-typo;
    }

    @if not ($color ==inherit or $color ==null) {
      color: $color;
    }

    @else if $weight ==300 {
      font-family: $main-typo-light;
    }

    @else if $weight ==500 {
      font-family: $main-typo-medium;
    }

    @else if $weight ==700 {
      font-family: $main-typo-bold;
    }

    @else if $weight ==300italic {
      font-family: $main-typo-lightitalic;
    }

    @else if $weight ==4001 {
      font-family: $main-typoitalic;
    }

    @else if $weight ==500italic {
      font-family: $main-typo-mediumitalic;
    }

    @else if $weight ==700italic {
      font-family: $main-typo-bolditalic;
    }
  }
}

/**all others should be deprecated except this one**/