
$xia-z-index-lowest : -3;
$xia-z-index-lower  : -1;
$xia-z-index-normal : 1;
$xia-z-index-high   : 200;
$xia-z-index-higher : 1000;
$xia-z-index-draft  : $xia-z-index-higher;
$xia-z-index-context: 50000;
$always-visible: 50010;
$xia-z-index-context-upper: 50010;
$xia-z-index-preview: 80000;
$xia-z-index-modal  : 100000;
$xia-z-index-highest: 200000;
