@import "mixins/drumee.scss";

.thumbnail {
  &__ui {
    &[data-raised="1"] {
      z-index: 1000;
    }
    &[data-disabled="1"] {
      opacity: 0.5;
    }
    &[data-opened="1"] {
      border: solid #476390 2px;
      .thumbnail-grid__container {
        &:after {
          content: " ";
          position: absolute;
          display: block;
          width: 100%;
          height: 100%;
          border: solid #ffffff 1px;
          top: 0;
          left: 0;
          border-radius: $default-border-radius-tiny;//3px;
        }
      }
      .notify__count {
        display: none;
      }
    }
    &[data-read="1"] {
      .notify__count {
        display: none;
      }
    }
    &[data-count="0"] {
      display: none;
    }
    .forbiden-block__icon {
      width: 12px;
      height: 12px;
    }
    &[data-shift="top"] {
      &:after {
        content:" ";
        width: 100%;
        height: 1px;
        background-color: blue;
        position: absolute;
        top: 100%;
      }
    }
    &[data-shift="bottom"] {
      &:after {
        content:" ";
        width: 100%;
        height: 1px;
        background-color: blue;
        position: absolute;
        top: -1px;
      }
    }
  }
  .preview.drumee-spinner {
    position: absolute;
  }

  .location-tooltips{
    position:absolute;
    width: 300px;
    height:200px;
  }

  &__location-tips {
    position: absolute;
    bottom: -100px;
    left: 0;
    width: auto;
    height: auto;
    overflow: visible;

    &[data-state="1"] {
      z-index: 100003;
      display: flex;
    }

    &[data-state="0"] {
      display: none;
    }

    &::before {
      content: " ";
      height: 20px;
      position: absolute;
      left: 30px;
      top: 47px;
      transform: rotate(45deg);
      width: 20px;
      z-index: 1;
      background-color: $ewhite;
      box-shadow: 0 0px 8px 0 rgba(63, 79, 117, .06), 0 -1px 16px 0 rgba(86, 65, 113, .1), 0 2px 14px 0 rgba(194, 185, 203, .04);
      border: 0.5px solid lightgrey;
    }

    &[data-mode="map"]::before {
      top: 190px;
    }

    &[data-mode="single-line"]::before {
      top: 29px;
    }

    .location-wrapper {
      padding: 10px;
      background-color: $core-default-background ;
      border-radius: $default-border-radius;
      background: $ewhite;
      z-index: 100;
      box-shadow: 0 0px 8px 0 rgba(63, 79, 117, .06), 0 -1px 16px 0 rgba(86, 65, 113, .1), 0 2px 14px 0 rgba(194, 185, 203, .04);

      &.map {
        width: 420px;
        height: 200px;
      }
    }

    #map-container {
      position: absolute;
      height: 180px;
      width: 400px;
    }

    .location-line-1,
    .location-line-2 {
      @include typo($size: 12px, $line: 18px, $color: $core-default-text-color);
    }
  }

  @import "contextmenu.scss";
}
