/** ================================================================== *
#   Copyright Xialia.com  2011-2019
#   FILE : desk/skin/media/grid
#   TYPE : Backoffice Main Style
# ===================================================================**/
.sync-menu {
  &.drumee-contextmenu {
    padding: 10px 0;
  }

  &__trigger {
    right: 2.5px; //1px
    bottom: 6px; //1px;
    width: 9px; //11px; //14px;
    height: 12px; //14px;
    position: absolute;
    z-index: 100;
    color: white;

    .sync-menu-icon {
      fill: currentColor;
      width: 100%;
      height: 100%;
      margin: 0;
      top: 0;
    }
  }
}

