@use "mixins/drumee";
@use "mixins/form" as *;
@use "mixins/window" as *;

@mixin form-content {
  @include form-entries;

  &__category-main {
    width: 100%;
    padding: 0 10px;
  }



  &__entrybox {
    width: 100%;

    &-content {
      width: 100%;
    }
  }

  &__category-item {
    flex: 1;
    justify-content: center;
    border-radius: 3px;
    margin: 5px;
    cursor: pointer;
    @include drumee.typo($color: drumee.$core-default-text-color, $weight: 400, $line: 30px, $size: 14px);

    &[data-state="1"] {
      background-color: drumee.$customer-selection-bg;
      color: drumee.$customer-selection-fg;
    }

    &[data-state="0"] {
      border: solid 0.5px lightgray;
    }
  }

  @include entry-label;
  @include form-entry;
  @include form-body;
  @include form-address;
  @include form-footer;
  @include form-buttons;
  @include form-placeholder;
  @include entry-cartridge;

  &__searchbox {
    height: 100%;
    overflow: auto;
    max-height: 200px;

    .smart-container {
      min-height: 100px;
    }
  }

  &__description-container {
    grid-template-columns: 2fr 1fr;
    width: 100%;
    grid-gap: 0.5em;
  }
}