@use "sass:meta";
@use 'mixins/drumee';
@use 'content' as *;
@use 'mixins/form' as *;
@use 'mixins/window' as *;

.form-quote {
  &__ui {
    background-color: drumee.$core-default-background;
    border-radius: drumee.$default-border-radius;
    box-shadow: drumee.$drumee-shadow-container;
    display: flex;
    max-height: 95vh;
    overflow: visible;
    width: 800px;
    height: auto;
    min-width: 340px;
    flex-direction: column;
    left: calc(50vw - 350px);
    top: 40px;


    &[data-device="mobile"] {
      height: 100vh;
      left: 0;
      top: 0;
      width: 100vw;
    }
  }

  &-topbar {
    @include form-topbar;
  }

  &__main {
    align-items: center;
    //height: 100%;
    width: 100%;
  }

  &__container {
    min-height: 200px;
    justify-content: start;
  }

  &__customer-header {
    background-color: drumee.$cyan;
  }

  &__header {
    background-color: drumee.$sharebox-main;
    border-bottom: none;
    border-radius: drumee.$default-border-radius-top;
    height: 44px;
    min-height: 44px;
    width: 100%;
  }

  &__title {
    justify-content: center;
    padding: 20px 9px 0px 10px;
    @include drumee.typo($size: 16px, $line: 30px, $weight: 400, $color: drumee.$sharebox-main);
  }

  &__entry-label {
    &__main {
      padding: 0 5px;
    }

    &__textarea {
      &[data-error="1"] {
        textarea {
          border: solid 1px red;
        }
      }
    }
  }

  &__container {
    margin-top: 12px;
    width: 100%;

    &.description {
      min-height: auto;
    }
  }

  &__site-address {
    align-self: flex-start;
    height: 55px;
    justify-content: center;

    &[data-state="0"] {
      display: none;
    }
  }


  @include work-site;
  @include customer-header;
  @include quote-form-content;
  @include form-menu;
  @include form-button;

  &__buttons {
    align-items: center;
    height: 60px;
    justify-content: center;
    width: 100%;
    padding: 20px 0px;
  }

  &__button-item {
    &[data-state="0"] {
      opacity: 0.5;
      pointer-events: none;
    }

  }

  @include dialog-acknowledge;
  @include dialog-overlay;

  &__cartridge-container {
    margin-top: 50px;
    border: 0.5px solid lightgrey;
    padding: 5px;
    border-radius: 3px;
  }

  &__category-main {
    width: 100%;
    padding: 0 10px;
  }

  &__entrybox {
    width: 100%;

    &-content {
      width: 100%;
    }
  }

  &__category-item {
    flex: 1;
    justify-content: center;
    border-radius: 3px;
    margin: 5px;
    cursor: pointer;
    @include drumee.typo($color: drumee.$core-default-text-color, $weight: 400, $line: 30px, $size: 14px);

    &[data-state="1"] {
      background-color: drumee.$customer-selection-bg;
      color: drumee.$customer-selection-fg;
    }

    &[data-state="0"] {
      border: solid 0.5px lightgray;
    }
  }
}

.form {
  &__dialog-overlay {
    background-color: rgb(0 0 0 / 30%); // .3);
    height: calc(100% - 44px);
    position: absolute;
    top: 44px;
    width: 100%;
  }
}