@use "mixins/drumee";

@mixin tabs {
  &__tabs {
    width: 100%;

    &.container {
      height: auto;
    }

    &.content {
      height: auto;
      padding: 2px 15px;
    }


    &.main {
      background-color: drumee.$blue-midnight;
      justify-content: space-around;
    }

    &.context {
      // background-color: drumee.$core-background-tooltips;
      box-shadow: drumee.$drumee-shadow-container;
      margin: 1px 0 5px 0;
      padding: 3px 0;
      height: 39px;
    }

    .customer__button,
    .customer__button-container,
    .tabs__button {
      cursor: pointer;
      height: 40px;
      padding: 5px;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-content: center;
      justify-content: center;
      flex: 1;

      &[data-state="1"] {
        border: solid 0.5px drumee.$white;
        background-color: drumee.$core-background-blue;
      }

      &:hover {
        background-color: drumee.$eblue;
      }

      svg {
        width: 25px;
        height: 25px;
        padding: 4px;
      }

      @include drumee.typo($size: 16px, $line: 25px, $weight: 400, $color: white);
    }

    .customer__button-container {
      padding: 0;

      &[data-state="0"] {
        .customer__icon {
          display: none;
        }
      }
    }

    .customer__icon {
      color: white;
      cursor: pointer;
      height: 40px;
      position: absolute;
      right: 0;
      width: 40px;
      padding: 7px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-content: center;
      flex-wrap: wrap;
    }

    &:hover {
      color: drumee.$blue-midnight;
    }
  }

}