@use "sass:meta";
@use 'mixins/drumee';
//@use 'content' as *;
@use 'mixins/form' as *;
@use 'mixins/window' as *;

.form-billing-info {
  &__ui {
    height: auto;
    max-height: 95vh;
    left: calc(50vw - 300px);
    min-width: 300px;
    width: 600px;

    &[data-anim="1"] {
      transition-property: left;
      transition-duration: 1s;
    }
  }

  &-topbar {
    @include form-topbar;
  }

  &__container {
    min-height: 200px;
    justify-content: start;
    margin-top: 12px;

    &.description {
      min-height: auto;
    }
  }

  &__header {
    background-color: drumee.$sharebox-main;
  }

  &__title {
    justify-content: center;
    padding: 20px 9px 0px 10px;
    @include drumee.typo($size: 16px, $line: 30px, $weight: 400, $color: drumee.$sharebox-main);
  }

  &__text {
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    @include drumee.typo($color: drumee.$egrey-78, $size: 12px, $line: 20px);
  }

  @include form-content;
  @include form-menu;
  @include customer-header;
  &__buttons {
    align-items: center;
    height: 60px;
    justify-content: center;
    width: 100%;
    padding: 20px 0px;
  }

  &__entries-container {
    margin: 10px 0 0px 0;
  }

  &__entries-row2 {
    width: 100%;
    height: 45px;
    align-content: center;
    grid-template-columns: 1fr 2fr;
    grid-gap: 0.5rem;
  }

  &__entries-row3 {
    width: 100%;
    height: 45px;
    align-content: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 0.5rem;
  }

  @include dialog-acknowledge;
  @include dialog-overlay;

  &__searchbox {
    position: absolute;
    border: 1px solid drumee.$egrey-78;
    padding: 10px;
    background: white;
    top: 100%;
    margin-top: 5px;
    box-shadow: drumee.$drumee-shadow-main;
    max-height: 500px;
    width: 100%;
    height: auto;

    .location-item {
      height: 35px;
    }
  }
  &__button-item{
    &[data-state="0"]{
      cursor:none;
      opacity:0.5;
    }
  }
}