/** ================================================================== *
#   Copyright Xialia.com  2011-2019
#   FILE : desk/skin/desk-header.scss
#   TYPE : Backoffice Main Style
# ===================================================================**/
&-forbiden{
  &__container{
    position: absolute;
    width: 160px;
    min-width: 100%;
    height: auto;
    min-height: 100%;
    justify-content: center;
    background-color: $core-default-background;//#fff;
    z-index: 10;
    left: -3px;
    bottom: -10px;
    align-content: center;
    align-items: center;
    display: flex;
    border: 1px solid $core-default-border-caution;//#ea4d44;
    border-radius: $default-border-radius-small;//4px;
    box-shadow: 0 5px 8px 1px rgba(63,79,117,.13), 0 6px 16px 0 rgba(86,65,113,.08), 0 2px 14px 0 rgba(194,185,203,0);
  }
  &__text{
    text-align: center;
    width:auto;
    //margin:auto;//2px auto;
    padding-top:6px;
    padding-right:4px;
    padding-bottom:0px;
    padding-left:4px;
    @include typo($line:14px,$size:11px,$weight:400,$color:$core-default-text-caution);//#EA4D44);
  }
  &__icon{
    display: none;
    // width: 15px;
    // height: 15px;
    // padding: 2px;
    // border: 1px solid $core-default-border-caution;//#EA4D44;
    // background-color: $eorange-sunset;// #EA4D44;
    // box-shadow: 0 5px 8px 1px rgba(63,79,117,0.13), 0 6px 16px 0 rgba(86,65,113,0.08), 0 2px 14px 0 rgba(194,185,203,0);
    // color:$ewhite;
    // fill:$ewhite;
    // border-radius:50px;
    // position:absolute;
    // top:-6px;
    // left:-6px;
  }
}