@use 'mixins/drumee';
@mixin dock-forbiden {
  &-forbiden {
    &__container {
      position: absolute;
      width: 160px;
      min-width: 100%;
      height: auto;
      min-height: 100%;
      justify-content: center;
      background-color: drumee.$core-default-background; //#fff;
      z-index: 10;
      left: -3px;
      bottom: -10px;
      align-content: center;
      align-items: center;
      display: flex;
      border: 1px solid drumee.$core-default-border-caution; //#ea4d44;
      border-radius: drumee.$default-border-radius-small; //4px;
      box-shadow: 0 5px 8px 1px rgba(63, 79, 117, .13), 0 6px 16px 0 rgba(86, 65, 113, .08), 0 2px 14px 0 rgba(194, 185, 203, 0);
    }

    &__text {
      text-align: center;
      width: auto;
      //margin:auto;//2px auto;
      padding-top: 6px;
      padding-right: 4px;
      padding-bottom: 0px;
      padding-left: 4px;
      @include drumee.typo($line: 14px, $size: 11px, $weight: 400, $color: drumee.$core-default-text-caution); //#EA4D44);
    }

    &__icon {
      display: none;
    }
  }
}