@use 'mixins/drumee';
@use 'forbiden' as *;

.perdrix-dock {
  @include dock-forbiden;

  &__ui {
    bottom: 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: fixed;
    width: 100%;
    z-index: 10000;
    left: 0;
    right: 0;
  }

  &__main {
    justify-content: center;
  }

  &__launcher-bar {
    background-color: rgba(47, 47, 47, 0.2);
    border-radius: drumee.$default-border-radius-top;
    justify-content: center;
    max-width: 100vw;
    padding: 10px 5px;

    &::before {
      backdrop-filter: blur(27px);
      border-radius: 6px 6px 0 0;
      content: "";
      height: 100%;
      position: absolute;
      top: 0px;
      width: 100%;
    }
  }

  &__action {
    justify-content: center;
  }

  &__message-container {
    justify-content: center;
    width: 100%;
  }

  &__message-content {
    background-color: rgba(47, 47, 47, 0.2);
    padding: 10px;
    border-radius: drumee.$default-border-radius-tiny;
    border: 1px solid drumee.$egrey-3c;
  }

  &__message-text {
    white-space: nowrap;
    @include drumee.typo($line: 15px, $size: 12px, $color: drumee.$white-f2);
  }

  &__helper {
    &-container {
      position: absolute;
      cursor: pointer;
      top: -40px;
      background-color: drumee.$core-background-tooltips; //$default-background-tooltips;
      border-radius: drumee.$default-border-radius-tiny;
      height: 30px;
      align-items: center;
      padding: 0 10px;

      &[data-state="open"] {
        z-index: 50 !important;
      }

      &::before {
        background: drumee.$core-background-tooltips; //$default-background-tooltips;
        bottom: -4px;
        content: " ";
        height: 10px;
        left: calc(50% - 7px);
        position: absolute;
        transform: rotate(45deg);
        width: 12px;
        z-index: 1;
      }

      &::after {
        // To prevent close on mouse out
        background: transparent;
        top: 100%;
        content: " ";
        height: 18px;
        width: 100%;
        z-index: 100;
        position: absolute;
        left: 0;
      }
    }

    &-icon {
      height: 30px;
      width: 30px;
      padding: 4px;

      svg.helper {
        width: 100%;
        height: 100%;
      }
    }

    &-text {
      white-space: nowrap;
      @include drumee.typo($line: 15px, $size: 12px, $color: drumee.$core-default-text-color);
    }
  }

  &__container.application {

    &.launcher {
      &[data-device="desktop"] {
        &::after {
          margin-left: 10px;
          margin-right: 7px;
        }
      }
    }

    &.maker {
      &[data-device="desktop"] {
        &::after {
          margin-left: 15px; // 5px;
          margin-right: 7px;
        }
      }
    }

    &.launcher {
      z-index: 100;
    }
  }

  &__button {
    align-items: center;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    height: 50px; // 38px;
    justify-content: center;
    width: 78px; //60px;  

    &[data-device="mobile"] {
      width: 60px;
      height: 40px;
    }

    svg {
      background-clip: padding-box;
      color: drumee.$core-default-icon-reverse; //$default-icon-reverse;
      height: 43px;
      width: 43px;
    }

    &.quote,
    &.bill,
    &.site,
    &.poc,
    &.address {
      svg {
        padding: 6px;
      }
    }

    &.launcher {
      svg.addressbook {
        padding: 2px;
      }

      svg.bigchat {
        transform: rotateY(180deg);
      }

      &.plus:after {
        content: "+";
        font-size: 29px;
        color: white;
        position: absolute;
        top: 7px;
        left: 57px;
        border: 1px solid white;
        line-height: 17px;
        border-radius: 50%;
      }

      &.plus.site:after {
        left: 46px;
      }
    }



    .label {
      overflow: hidden;
      text-align: center;
      text-overflow: ellipsis;
      white-space: nowrap;
      width: 100%;
      @include drumee.typo($line: 15px, $size: 12px, $color: drumee.$core-default-text-reverse); //$ewhite
    }

    &:hover {
      opacity: 1;

      * {
        color: drumee.$core-default-icon-hover; //$eviolet;
      }

      .desk-dock__tooltips {
        color: drumee.$core-default-text-color; //$default-text-color;
      }

      & .bigchat__btn-counter {
        color: drumee.$ewhite;
      }
    }

    &.maker {

      &.note {
        svg {
          // color: $sharebox-main;
          padding: 4px;
        }
      }

      &.website {
        opacity: 0.5;

        &:hover {
          opacity: 1;
        }
      }
    }

    &.launcher {
      &.contact {
        svg {
          margin-left: 6px;
          padding: 2px;
        }
      }


      &.perdrix {
        svg {
          margin-left: 3px;
        }
      }

      &.perdrix.quote {
        svg {
          color: lightcoral;
        }
      }

      &.perdrix.bill {
        svg {
          color: rgb(56, 94, 231);
        }
      }

    }

    & .launcher-icon {
      &[data-is-active="on"] {
        svg {
          color: drumee.$eviolet !important;
        }
      }
    }

    &.trash {
      &[data-over="yes"] {
        border: 2px solid drumee.$eviolet;
        border-radius: drumee.$default-border-radius;

        svg {
          color: drumee.$eviolet;
        }

        &:after {
          border-radius: drumee.$default-border-radius;
          content: " ";
          height: 100%;
          left: 0;
          position: absolute;
          top: 0;
          width: 100%;
        }
      }

      svg {
        padding: 3px;
      }
    }

    &.hub {
      width: 65px;
    }
  }

  &__tooltips {
    background-color: drumee.$core-background-tooltips; //$default-background-tooltips;
    border-radius: drumee.$default-border-radius-tiny;
    opacity: 1;
    padding: 8px;
    position: absolute;
    top: -40px; //-45px;
    white-space: nowrap;
    z-index: 10;
    user-select: none;
    @include drumee.typo($size: 11px, $line: 14px, $weight: 400, $color: drumee.$core-default-text-tooltips); // $default-text-color);

    &::before {
      background: drumee.$core-background-tooltips; //$default-background-tooltips;
      bottom: -4px;
      content: " ";
      height: 10px;
      left: calc(50% - 7px);
      position: absolute;
      transform: rotate(45deg);
      width: 12px;
      z-index: 1;
    }
  }

  @media (max-width: drumee.$small) {
    .desk-dock__container.application.maker {
      display: none;
    }

    .desk-dock__container.mobile-launcher {
      display: flex;
    }

    .desk-dock__container.application.launcher {
      display: none;
    }
  }

  &__mobile-launch-wrapper {

    @media (max-width: drumee.$small) {
      .desk-dock__container.application.maker {
        display: flex !important;
        padding-bottom: 8px;
      }

      .desk-dock__container.application.launcher {
        display: flex !important;
      }

      .desk-dock__container.application {
        &::after {
          background-color: transparent !important;
          ;
        }

        &.hub {
          &::after {
            display: none;
          }
        }
      }

      .launcher {

        & .calendar,
        & .addressbook,
        & .perdrix {
          display: flex !important;
        }
      }
    }

    & .menu-topic-items__wrapper {
      background-color: rgba(47, 47, 47, .37);
      backdrop-filter: blur(27px);
      border-radius: 5px;
      bottom: 39px;
      display: flex;
      flex-direction: row;
      overflow: visible !important;
      padding-bottom: 5px;
      position: absolute !important;
      left: -28px;
      transform: translateX(-19%);
      margin-bottom: 13px;

      &[data-device="mobile"] {
        left: -28px;
      }

      & .menu-topic-items {
        padding-top: 3px;
        transform: matrix(1, 0, 0, 1, 0, 0) !important;
      }

      & .desk-dock__docker-menu {
        display: flex;
        flex-direction: column;

        &[data-device="mobile"] {
          padding: 5px;
        }

        &.hub {
          flex-direction: row;
        }
      }
    }

    &.hub {
      & .menu-topic-items__wrapper {
        bottom: 40px;
        left: 12px;
        margin-bottom: 22px;
        max-width: 190px;
      }
    }
  }

  &__container.mobile-launcher {
    display: none;
  }

  &__button.launcher.mobile-launcher {
    padding: 15px;
  }
}