
.thumbnail-row{
  &[data-selected="1"]{
    .thumbnail-row-forbiden{
      &__container{
        left: 2px;
        top: 2px;
      }
    }  
  }
  &-forbiden{
    &__container{
      /*width: 100%;
      height: 100%;*/
      width: 180px;
      height:auto;
      display: flex;
      flex-direction: column;
      position: absolute;
      background: white;
      justify-content: center;
      border: 1px solid $eorange-sunset;//#EA4D44;
      border-radius: $default-border-radius-tiny;//3px;
      background-color: $core-default-background; ;//#FFFFFF;
      box-shadow: 0 5px 8px 1px rgba(63,79,117,0.13), 0 6px 16px 0 rgba(86,65,113,0.08), 0 2px 14px 0 rgba(194,185,203,0);
      Z-index:200;
      margin: auto auto auto 144px;      
    }
    &__text{
      //margin: 2px auto; 
      @include typo($line:12px,$size:11px,$weight:400,$color:$eorange-sunset ); //#EA4D44
      text-align: center;
      //width:80px;
      padding:2px 8px 1px;
    }
    &__icon{
      width: 14px;
      height: 14px;
      padding: 2px;
      border: 0.5px solid $eorange-sunset;//#EA4D44;
      background-color: $eorange-sunset;//#EA4D44;
      box-shadow: 0 5px 8px 1px rgba(63,79,117,0.13), 0 6px 16px 0 rgba(86,65,113,0.08), 0 2px 14px 0 rgba(194,185,203,0);
      color:$ewhite; 
      fill:$ewhite; 
      //margin: 2px auto;
      border-radius:50px;
      position:absolute;
      top:-6px;
      left:-6px;
    }
  }
}

