.media-uploader, .svg-progress{
  &__ui{
    position: absolute;
    background-color: $core-default-background; //$ewhite;
    padding: 0 8px 0 60px;
    z-index: 1000;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;      
  }
  &__main{
    width: 100%;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin: 0 auto;
  }
  &__container{
    &-name{
      min-width: 350px;
      width: 40%;
      flex-shrink: 0;      
    }
    &-progress{
      min-width: 150px;
      width : 25%;
      height: 100%;
      flex-shrink: 0;
      justify-content: center;
    }
    &-size{
      min-width: 140px;
      width: 20%;
      flex-shrink: 0;
    }
    .drumee-spinner{
      width: 32px;
      height: 32px;
      left: 100px;      
    }
  }
  &__value{
    &-filesize{
      letter-spacing: 0.1px;
      padding-left: 8px;
      @include typo($line:14px,$size:12px,$weight:300,$color:$core-default-text-color);//#2F2F2F);
    }
    &-filename{
      margin-left: 11px;
      padding-right: 10px;
      padding-left: 24px;
      white-space: nowrap;
      overflow: hidden;
      .root-node,& .drumee-text {
        overflow: hidden;
        text-overflow: ellipsis;
        @include typo($line:16px,$size:14px,$weight:300,$color:$egrey-49);//#494949); 
        letter-spacing: 0.1px;
        text-align: left;
      }
    }
  }
  &__bar{
    height: 4px;
    width: 100px;
    border-radius: 1.5px;
    margin: auto 0 11px;
    background-color: rgba(182,191,202,0.36);
    &-percent{
      margin-left: -1em;
      @include typo($line:9px,$size:9px,$weight:300,$color:$egreen);//#18A3AC);      
      letter-spacing: 0.07px;
    }
    &--fg{
      height: 100%;
      transition: width 1s linear;   
      width: 0%;
      border-radius: 1.5px;
      background-color: $egreen;//#18A3AC;
    }
  }
  &__close{
    width: 19px;
    height: 19px;
    flex-shrink: 0;
    margin: 0 2px;
    padding: 3.5px;    
    svg{
      width: 100%;
      height: 100%;
      fill: $eorange-sunset;//#FA8540;
    }    
  }
}