/** ================================================================== *
#   Copyright Xialia.com  2011-2019
#   FILE : desk/skin/media/grid
#   TYPE : Backoffice Main Style
# ===================================================================**/
.protected-container{
  left:36px;// 48px;
  bottom: 17px;//11px;
  width: 14px;
  height: 14px;
  position: absolute;
  z-index: 100;
}
