@use "mixins/window" as *;
@use "mixins/drumee";

.quote-item {
  @include cartridge-sales;
  @include widget-ui;

  &__summary {
    width: 100%;

    &.billing {
      width: 100%;
      justify-content: flex-start;

      .amount {
        width: 100px;
      }
    }
  }

  .tooltips {
    position: absolute;
    background-color: white;
    padding: 5px;
    //border: 1px solid lightblue;
    top: 15px;
    box-shadow: drumee.$drumee-shadow-container;
  }
}