&-acknowledgement {
  &__main {
    align-items: center;
    background:$core-default-background;
    border-radius: $default-border-radius;
    height: calc(100% - 350px);
    justify-content: center;
    min-height: 275px;//250px;
    min-width: 300px;
    width: calc(100% - 350px);
  }

  &__note {
    &.message-info {
      @include typo($size: 16px, $line: 20px, $weight:300, $color:$core-default-text-color);
      padding: 15px;
    }

    &.redirect-info {
      padding: 50px 15px;
    }
  }

  &__close {
    color:$core-default-thinline-icon;
    cursor: pointer;
    margin: 10px;
    position: absolute;
    right: 5px;
    top: 5px;
    z-index: 1;
  }

  &__icon {
    &.close {
      color: $core-default-thinline-icon;
      cursor: pointer;
      height: 12px;
      width: 12px;
      
      &:hover {
        color: $core-default-thinline-icon-hover;
      }
    }

    &.success {
      color: $core-default-icon-success;
      height: 26px;
      width: 36px;
    }
  }

  &__button-ok {
    @include typo($size: 16px,$color: $btn-rollback-text);
    align-items: center;
    border-radius: $default-border-radius;
    border: 1px solid $btn-rollback-border ;
    height: 32px;
    justify-content: center; 
    margin-top: 30px;
    width:90px;

    &:hover {
      @include typo($size: 16px,$color:$btn-rollback-text-hover);   
      border:2px solid $btn-rollback-border-hover;
    }
  }
}