@use 'mixins/drumee';

&-menu {
  &__dropdown,
  &__wrapper {
    height: 100%;
    width: 100%;
  }

  &__wrapper {
    justify-content: center;
    align-items: center;

    & .menu-topic-trigger {
      align-items: center;
      height: 100%;
      justify-content: flex-start;
      width: 100%;
      z-index: inherit;
    }
  }

  &__input_wrapper {
    align-items: center;
    background: $core-default-block-background;
    border-radius: $default-border-radius;
    cursor: pointer;
    height: 36px;
    justify-content: space-evenly;
    width: 200px;

    & .note-reader {
      @include typo($size: 14px, $line: 14px, $color: $core-default-text-color);
      justify-content: center;
      width: 100%;
    }     
  }

  &__icon-dropdown {
    color: $core-default-icon-neutral;
    height: 14px;
    position: absolute;
    right: 10px;
    width: 14px;
  }

  &__items-wrapper {
    padding: 5px;
    width: 100%;
  }

  &__wrapper {
    &[data-state="1"] {
      & .trigger-icon {
        color: $core-default-icon-active;
      }
    }

    & .menu-topic-items {
      &__wrapper {
        left: 5px;
        top: calc(100% - 15px) !important;
        padding:10px;
      }
      border-radius:$default-border-radius;
      background-color: $core-default-background;    
      box-shadow: $drumee-shadow-container;
      max-width: 200px;
      min-width: 190px;

      &:before {
        background-color: $core-default-background;    
        box-shadow: -4px -6px 10px 1px rgba(63,79, 117, 0.13);
        content: "";
        height: 10px;
        left: calc(100% - 16px);
        position: absolute;
        top: -5px;
        transform: rotate(45deg);
        width: 10px;
      }

      &:after {
        background: $core-default-background;    
        border-radius: $default-border-radius-top;
        content: "";
        height: 10px;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
      }
    }
  }

  &__icon {
    align-items: center;
    color: $core-default-icon-neutral;
    cursor: pointer;

    &.trigger-icon {
      height: 16px;
      width : 22px;
    }
  }

  &__item {
    cursor: pointer;
    margin-bottom:  1px;
    margin-top:  1px;
    padding: 8px 8px 8px 10px;
    @include typo($size: 12px, $line: 14px, $color:$core-default-text-color);

    &.disable {
      opacity: 0.4;//0.2;
      pointer-events: none;
      @include typo($size: 12px, $line: 14px,$weight:300,$color:$core-default-background-inactive);
    }

    &:hover {
      background-color: $core-default-background-hover;
      color : $core-default-text-hover ; 

      & .widget-dropdown-menu-menu__note {
        color:$core-default-text-hover; 
      }
      
      & svg {
        fill: $core-default-icon-reverse;  
      }
    }
  }

  &__note {
    padding-top: 0px;
    @include typo( $size:14px, $weight: 300, $line: 14px, $color: $core-default-text-color);

    &.coming-soon {
      opacity: 0.4;
      padding-top: 5px;
    }
  }
}