&-terms-and-conditions {
  &__main {
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: 10;
  }

  &__container {
    align-items: center;
    background: $core-transparency-container-overlay;//$dgc-overlay-background;
    border-radius: $default-border-radius-bottom;//0 0 6px 6px;
    height: 100%;
    justify-content: center;
    position: absolute;
    width: 100%;
    z-index: 110;
  }

  &__content {
    border-radius : $default-border-radius;
    background-color: $core-default-background;  
    box-shadow: $drumee-shadow-box;;//0 0 7px 0 rgba(0,0,0,0.14);
    height: calc(100% - 110px);
    width: calc( 100% - 380px);
  }

  &__header {
    height: 50px;
    justify-content: space-between;
    width: 100%;
  }

  &__title {
    align-items: flex-end;
  }

  &__body {
    height: 100%;
    padding: 25px 54px 40px 54px;
    width: 100%;
  }

  &__body-content {
    border-radius : $default-border-radius;
    height: 100%;
    width: 100%;
  }

  &__wrapper,
  &__iframe {
    height: 100%;
    width: 100%;
  }

  &__iframe {
    &::-webkit-scrollbar {
      height: 100%;
      width: 3px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: $default-scrollbar-color;
      cursor: pointer;
    }
  }

  &__icon {
    color: $core-default-icon-neutral;
    cursor: pointer;
    height: 24px;
    width: 24px;

    &.download {
      height: 18px;
      left: 10px;
      top: 10px;
      width: 18px;
    }

    &.feather {
      height: 36px;
      right: 8px;
      top: 8px;
      width: 36px;
    }

    &.close {
      color:$core-default-thinline-icon;
      height: 14px;
      right: 10px;
      top: 10px;
      width: 14px;
      &:hover{
        color:$core-default-thinline-icon-hover;
      }
    }

    &:hover {
      color: $core-default-icon-hover;
    }
  }

  &__note {
    @include typo($size: 16px, $line: 18px, $color: $core-default-text-color);

    &.title {
      @include typo($size: 24px, $line: 24px, $color: $core-default-text-color);
    }
  }
}

// for buttons

&__buttons-wrapper {
  justify-items: center;
  width: 100%;
  margin: 15px auto;
  
  & .button {
    border-radius : $default-border-radius;
    @include typo($size: 16px, $line: 19px);
    align-items:center;
    height: 35px;
    justify-content: center;
    margin: 0px 0 0 12%;
    max-width: 250px;
    width: 100%;
  }
}

&__button-cancel {
  @include typo($color: $btn-rollback-text);
  border: 1px solid $btn-rollback-border ;

  &:hover {
    border:2px solid $btn-rollback-border-hover ;
    color: $btn-rollback-text-hover; 
  }
}

&__button-confirm {
  @include typo($color: $btn-commit-text);
  background-color: $btn-commit-background;    
  border: 1px solid $btn-commit-border;
  
  &:hover {
    background-color:$btn-commit-background-hover ;
    border-color: $btn-commit-border-hover;
  }
}