@use "mixins/drumee";

@mixin form-content {
  &__category-main {
    width: 100%;
    padding: 0 10px;
  }

  &__entries {

    &-container,
    &-manual {
      width: 100%;
      padding: 0 10px;
      border-radius: 5px;
      border: solid 0.5px lightblue;
      margin: 10px 0 20px 0;
    }

    &-main,
    &-content {
      width: 100%;
    }

    &-main__address {
      grid-template-columns: 100px 1fr 1fr;
      grid-gap: 0.5rem;
    }

    &-company {
      width: 100%;
      height: 45px;
      align-content: center;
      grid-template-columns: 2fr 1fr;
      grid-gap: 0.5rem;
    }
    &-person {
      width: 100%;
      height: 45px;
      align-content: center;
      grid-template-columns: 100px 1fr 1fr;
      grid-gap: 0.5rem;
    }

    &-manuel {
      .menu-input__wraper {
        max-height: 200px;
      }
    }
  }

  &__entrybox {
    width: 100%;

    &-content {
      width: 100%;
    }
  }

  &__category-item {
    flex: 1;
    @include drumee.typo($color: drumee.$core-default-text-color, $weight: 400, $line: 30px, $size: 14px);
    justify-content: center;
    border-radius: 3px;
    margin: 5px;
    cursor: pointer;

    &[data-state="1"] {
      background-color: drumee.$customer-selection-bg;
      color: drumee.$customer-selection-fg;
    }

    &[data-state="0"] {
      border: solid 0.5px lightgray;
    }
  }

  &__entry {
    width: 100%;
    height: 45px;
    flex-wrap: wrap;
    align-content: center;

    &.main-entry {
      margin: 5px;
    }

    &[data-error="1"] {
      input {
        border: solid 1px red;
      }
    }

    & input {
      width: calc(100% - 10px);
      background: drumee.$core-default-block-background; //#f2f2f2;
      color: drumee.$core-default-text-color; //#2f2f2f;
      width: 100%;
      height: 30px;
      border-radius: 2px;
    }
  }

  // &__entry {
  //   &.message {
  //     width: 100%;

  //     & textarea {
  //       background: drumee.$core-default-block-background;
  //       border-radius: drumee.$default-border-radius;
  //       border: none;
  //       outline: none;
  //       padding: 10px 5px 10px;
  //       resize: none;
  //       width: 99%;
  //       margin: 3px 0px 1px 0px;
  //       min-height: 77px;
  //       @include drumee.typo($size: 14px, $line: 22px, $color: drumee.$core-default-text-color); //$size: 16px, $line: 21px,

  //       &::placeholder {
  //         @include drumee.typo($size: 14px, $line: 14px, $weight: 300, $color: drumee.$core-default-text-placeholder);
  //       }
  //     }
  //   }
  // }

  &__body {
    align-items: center;
    height: auto;
    width: 100%;
    align-items: center;
    justify-content: start;
    padding: 0 15px;
    top: 0px;
  }

  &__footer {
    height: auto;
    justify-content: flex-start;
    width: 100%;

    &[data-state="0"] {
      display: none;
    }

  }

  &__address {
    grid-gap: 0.5rem;
    width: 100%;

    &.street {
      grid-template-columns: 100px 100px 1fr;
    }

    &.additional {
      grid-template-columns: 200px 5fr;
      grid-gap: 1rem;
    }

    &.city {
      grid-template-columns: 1fr 3fr 2fr;
    }
  }

  &__searchbox {
    height: 100%;
    overflow: auto;

    .smart-container {
      min-height: 100px;
    }
  }

  &__buttons-container {
    width: 100%;
    height: 60px;
  }

  &__buttons-main {
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
  }

  &__button-go {
    width: 100px;
    height: 45px;
    align-items: center;
    justify-content: center;
    color: drumee.$white;
    background-color: drumee.$btn-commit-background;
    @include drumee.typo($size: 16px, $line: 22px, $color: drumee.$white);
    border-radius: 5px;
    cursor: pointer;

    &:hover {
      background-color: drumee.$btn-commit-background-hover
    }
  }

  &__placeholder {
    &-main {
      flex-wrap: wrap;
      align-content: center;
    }

    justify-content: center;
    @include drumee.typo($color: drumee.$core-default-text-color, $weight: 400, $line: 22px, $size: 16px);
    margin: 10px auto;

    &.button {
      background-color: drumee.$btn-commit-background;
      @include drumee.typo($size: 16px, $line: 22px, $color: drumee.$white);
      border-radius: 5px;
      cursor: pointer;
      padding: 5px 20px;

      &:hover {
        background-color: drumee.$btn-commit-background-hover
      }
    }
  }

  // &__street-selection {
  //   &-container {
  //     position: absolute;
  //     width: 0;
  //     height: 0;
  //     overflow: visible;

  //   }

  //   &-main {
  //     width: auto;
  //     height: auto;
  //     overflow-x: hidden;
  //     position: absolute;
  //     padding: 10px;
  //     background-color: drumee.$white;
  //     box-shadow: drumee.$drumee-shadow-main;
  //     border-radius: 3px;
  //     max-height: 265px;
  //     overflow-y: auto;

  //     .streettype {
  //       display: flex;
  //       flex-direction: row;
  //       flex-wrap: wrap;
  //       align-content: center;
  //       justify-content: start;
  //       @include drumee.typo($color: drumee.$core-default-text-color, $weight: 400, $line: 22px, $size: 14px);
  //       cursor: pointer;
  //       white-space: nowrap;

  //       &:hover {
  //         background-color: rgba(125, 230, 198, 0.267);
  //       }

  //       &[data-state="1"] {
  //         color: drumee.$white;
  //         background-color: drumee.$btn-commit-background;
  //       }
  //     }
  //   }
  // }
}