@use "sass:meta";
@use 'mixins/drumee';
@use 'topbar' as *;
@use 'form' as *;

.form-customer-topbar {
  @include form-topbar;
}


.form-customer {
  &__ui {
    background-color: drumee.$core-default-background;
    border-radius: drumee.$default-border-radius;
    box-shadow: drumee.$drumee-shadow-container;
    display: flex;
    flex-direction: column;
    height: auto;
    max-height: 95vh;
    left: calc(50vw - 300px);
    min-width: 300px;
    overflow: visible;
    width: 600px;

    &[data-device="mobile"] {
      height: 100vh;
      left: 0;
      top: 0;
      width: 100vw;
    }

  }

  &__main {
    align-items: center;
    height: 100%;
    width: 100%;
  }

  &__container {
    min-height: 300px;
    justify-content: start;
  }


  &__details {
    align-items: center;
    height: 100%;
    justify-content: center;
    padding: 0px 10px 0px 10px;
    margin: auto; //0 0 10px 20px;
    width: 100%;
  }

  &__header {
    background-color: drumee.$sharebox-main;
    border-bottom: none;
    border-radius: drumee.$default-border-radius-top;
    height: 44px;
    min-height: 44px;
    width: 100%;
  }

  &__title {
    @include drumee.typo($size: 16px, $line: 30px, $weight: 400, $color: drumee.$sharebox-main);
    justify-content: center;
    padding: 20px 9px 0px 10px;
  }

  &__icon {
    border-radius: drumee.$default-border-radius;
    // border: 1px $default-icon-reverse solid;
    color: drumee.$core-special-schedule-icon;
    height: 30px;
    margin-right: 5px;
    min-width: 30px;
    padding: 3px;
    width: 30px;

    &.date {
      opacity: 0.7;
    }

    &:hover {
      opacity: 1;
    }
  }

  &__row-main {
    justify-content: flex-start;
    width: 100%;
    padding: 0px 20px;
    margin-top: 10px;

    &:hover {
      background-color: drumee.$core-default-background-hover; //#879bff;
      color: drumee.$core-default-text-hover; //#fff;

      & .form-customer__text,
      .form-customer__icon {
        color: drumee.$ewhite;
      }

      & .form-customer__edit-icon {
        color: drumee.$ewhite;
        cursor: pointer;
        display: flex;
      }
    }

  }

  &__tooltips.customer-tooltips {
    background-color: drumee.$core-background-tooltips;
    border-radius: drumee.$default-border-radius-small; // $default-border-radius-tiny;
    opacity: 1;
    padding: 8px;
    position: absolute;
    bottom: -30px; //-40px;
    white-space: nowrap;
    z-index: 10;
    user-select: none;
    left: -14px; // -100%;
    @include drumee.typo($size: 11px, $line: 10px, $weight: 400, $color: drumee.$core-default-text-color); //$line: 14px,

    &::before {
      background: drumee.$core-background-tooltips;
      top: -5px; //-4px;
      content: " ";
      height: 10px;
      left: calc(50% - 37px); //calc(50% - 7px);
      position: absolute;
      transform: rotate(45deg);
      width: 12px;
      z-index: 1;
    }

    &.copy-btn-tooltip {
      left: -40px;

      &::before {
        left: calc(50% - -2px); // calc(50% - 4px);
      }
    }
  }

  &__body {
    height: 100%;
    width: 100%;
    top: 0px;
  }

  &__footer {
    height: 100%;
    justify-content: space-evenly;
    width: 100%;
  }

  &__main-view {
    height: 100%;
    width: 100%;
  }

  &__main-content {
    flex-direction: column;
    height: auto;
    min-height: 100%;
    width: 100%;

    &[data-flow="x"] {
      flex-direction: row-reverse;
    }
  }

  &__container {
    margin-top: 12px;
    width: 100%;


    &.description {
      min-height: auto;
    }
  }

  @include form-content;

  &__text {
    display: flex;
    flex: 1;
    max-height: 89px;
    overflow: auto;
    @include drumee.typo($color: drumee.$core-default-text-color, $weight: 400, $line: 30px, $size: 14px);

    &.date {
      & .note-content {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }

  &__container-body {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px 7px 2px 10px;
    overflow: hidden;

  }

  & .delete-btn {
    position: absolute;
    left: 0px;
    height: 20px;
    width: 20px;
    margin: 20px;
    color: drumee.$core-default-icon-neutral;
    cursor: pointer;
    z-index: 10;
  }

  &__buttons {
    align-items: center;
    height: 60px;
    justify-content: center; //space-evenly;
    width: 100%;
    padding: 20px 0px;
  }

  & .button {
    cursor: pointer;

    &.copy-button {
      position: absolute;
      right: 0px;
      margin: 4px;
      z-index: 99;
    }

    &.text {
      align-items: center;
      border-radius: drumee.$default-border-radius;
      height: 35px;
      justify-content: center;
      max-width: 200px;
      min-width: 120px;
      padding: 0 10px;
      margin: 0 3%;
      @include drumee.typo($size: 16px, $line: 19px, $color: drumee.$btn-commit-text);
    }

    &.primary {
      background-color: drumee.$btn-commit-background;

      &:hover {
        background-color: drumee.$btn-commit-background-hover
      }
    }

    &.secondery {
      background-color: drumee.$btn-rollback-background;
      border: 2px solid drumee.$btn-rollback-border;
      color: drumee.$btn-rollback-text;

      &:hover {
        color: drumee.$btn-rollback-text-hover;
        border: drumee.$btn-rollback-border-hover 2px solid;
      }
    }

    &.icon {
      align-items: center;
      border-radius: drumee.$default-border-radius;
      color: drumee.$core-default-icon-neutral;
      height: 25px;
      margin: 0 3%;
      opacity: 0.75;
      padding: 1px;
      top: 10px;
      width: 25px;

      &:hover {
        color: drumee.$core-default-icon-hover;
      }
    }
  }

  &__acknowledge {
    /*  position: absolute;
    top: 10px;//20px;
    margin-left:30px;*/
    border-radius: 3px;
    justify-items: center;
    justify-content: center;
    @include drumee.typo($color: drumee.$core-default-text-color, $weight: 400, $line: 30px, $size: 12px);

    .drumee-svg {
      color: drumee.$core-default-icon-success;
      height: 20px;
      padding: 2px;
      width: 25px;
    }

    .text {
      padding-left: 10px;
    }
  }

  &__bdy_footer {
    // overflow-y: auto;
    width: 100%;
    background: drumee.$core-default-background; //white;
    border-radius: 0px 0px 5px 5px;
    padding-bottom: 10px;
  }

  &__edit-icon {
    height: 20px;
    color: grey;
    width: 20px;
    padding: 0px 0px 0px 5px;
    display: none;
  }

  &__ok-btn {
    background: drumee.$btn-commit-background;
    border-radius: drumee.$default-border-radius;
    padding: 5px;
    margin-left: 5px;
    margin: 3px;
    cursor: pointer;
    width: 26px; //24px;
    height: 26px; //24px;
    justify-content: center;
    align-items: center;
    @include drumee.typo($size: 12px, $color: drumee.$white);

    &:hover {
      background-color: drumee.$btn-commit-background-hover;
    }
  }

  &__wrapper--modal.dialog__wrapper,
  &__dialog-overlay {
    position: absolute;
    height: auto;

    &[data-state="open"] {
      width: 100%;
      height: calc(100%);
      left: 0;
      right: 0;
      top: 0px;
      bottom: 0;
      justify-items: center;
      align-items: center;
      border-radius: drumee.$default-border-radius-bottom;
      background-color: drumee.$core-transparency-container-overlay; //$transparency-container-overlay;
    }
  }

}

.form {
  &__dialog-overlay {
    background-color: rgb(0 0 0 / 30%); // .3);
    height: calc(100% - 44px);
    position: absolute;
    top: 44px;
    width: 100%;
  }
}