@use "mixins/drumee";

@mixin form-topbar {
  &__main {
    background-color: drumee.$sharebox-main;
    border-bottom: none;
    border-radius: drumee.$default-border-radius-top;
    cursor: pointer;
    height: 44px;
    min-height: 44px;
    width: 100%;
  }

  &__icon {
    border-radius: drumee.$default-border-radius;
    border: 1px drumee.$core-default-icon-reverse solid;
    color: drumee.$core-default-icon-reverse;
    cursor: pointer;
    height: 25px;
    margin: auto 0 auto 15px;
    padding: 5px;
    width: 25px;

    &.desktopgroup {
      margin-top: 9px;
    }

    &:hover {
      color: drumee.$core-default-icon-hover;
      opacity: 1;
    }
  }

  &__control {
    .icon {
      color: drumee.$core-default-icon-reverse;
      height: 12px;
      margin: auto 15px auto 0;
      padding: 0;
      width: 12px;

      &:hover {
        color: drumee.$core-default-icon-hover;
      }
    }
  }

  &__title {
    align-items: center;
    height: auto;
    justify-content: center;
    width: 100%;

    .name {
      align-items: flex-start;
      justify-content: center;
      padding: 0;
      width: 316px;
      @include drumee.overflow-text;
      @include drumee.typo($size: 18px, $line: 24px, $weight: 400, $color: drumee.$core-default-text-reverse);

      .inner {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
  }
}